<section class="ui left aligned middle aligned segment">

  <h2>Playlist App Dashboard</h2>

  {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
  {{/unless}}
  <div class="ui centered cards">
    {{#each playlists}}
      <div class="ui card">
        <div class="image">
          <img src="{{picture}}">
        </div>
        <div class="content">
          <a class="header">{{uppercase title}}</a>
          <p>
            <i class="music icon"></i>
            {{#if songs}}
              Total songs: {{songs.length}}
            {{else}}
              Empty playlist!
            {{/if}}

            {{#if date}}
              <br>
              <i class="calendar alternate outline icon"></i>
              Created on <i>{{formatDate date}}</i>
            {{/if}}
          </p>
        </div>
        <div class="extra content">
          <a href="/playlist/{{id}}" class="ui icon button">
            <i class="icon folder open"></i>
          </a>
          <a href="/dashboard/deleteplaylist/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</section>