{{#if songs}}

  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Duration</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each songs}}
        <tr>
          <td>
            {{capitalise title}}
          </td>
          <td>
            {{capitalise artist}}
          </td>
          <td>
            {{capitalise genre}}
          </td>
          <td>
            {{duration}}
          </td>
          <td class="center aligned">
            <a href="/playlist/{{../id}}/deletesong/{{id}}" class="ui icon button" title="Delete song">
              <i class="ui trash icon"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <h3 class="ui message">
    Empty playlist!
  </h3>

{{/if}}