<section class="ui left aligned middle aligned segment" id="playlist{{@index}}">

      <h3 class="ui header">
        {{uppercase title}}
      </h3>
      
      <p>
      <i class="music icon"></i>
      {{#if songs}}
        Total songs:
        {{songs.length}}

        {{else}}
        Empty playlist!
      {{/if}}

      {{#if date}}
        <br>
        <i class="calendar alternate outline icon"></i>
        Created on <i>{{formatDate date}}</i>
      {{/if}}
    </p>
      
      <a href="/playlist/{{id}}" class="ui icon button">
          <i class="open folder icon"></i>
      </a>
      <a href="/dashboard/deleteplaylist/{{id}}" class="ui icon button delplaylist"> 
          <i class="trash icon"></i>
      </a>
    <button class="ui icon button" title="Edit playlist" id="showEdit{{@index}}">
      <i class="ui pencil icon"></i>
    </button>

</section>