{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  
  <h2>About the Playlist App</h2>
  <p>
    The playlist app now contains: 
  </p>
  
  <div class="ui center aligned grid">
    <div class="sixteen wide column">
      
        <div class="ui centered three statistics">
          <div class="statistic">
            <div class="value">
              <i class="red microphone icon"></i> 
            </div>
            <div class="label">
              {{displayNumPlaylists}} playlists
            </div>
          </div>

          <div class="statistic">
            <div class="value">
              <i class="orange music icon"></i> 
            </div>
            <div class="label">
              {{displayNumSongs}} songs
            </div>
          </div> 
          
         <div class="statistic">
            <div class="value">
              <i class="yellow fast forward icon"></i> 
            </div>
            <div class="label">
              {{average}} average songs per playlist
            </div>
          </div> 
        </div>    
    </div>
  </div>
  <div class="ui center aligned grid">
        <div class="sixteen wide column">
      
        <div class="ui centered two statistics">
          <div class="statistic">
            <div class="value">
              <i class="blue plus square outline icon"></i> 
            </div>
            <div class="label">
              largest playlists:{{largest}} 
            </div>
          </div>

          
         <div class="statistic">
            <div class="value">
              <i class="green minus square outline icon"></i> 
            </div>
            <div class="label">
              smallest playlists:{{smallest}} 
            </div>
          </div> 
        </div>    
    </div>
  </div>

</section>